<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://takuma01-001-site1.qtempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>https://win1151.site4now.net:8172/msdeploy.axd?site=takuma01-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>takuma01-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName>takuma01-001</UserName>
    <_SavePWD>false</_SavePWD>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=SQL1001.site4now.net;Initial Catalog=db_ab634e_profilemanagement;Persist Security Info=True;User ID=db_ab634e_profilemanagement_admin;Password=Phong@123;TrustServerCertificate=True" Name="Data Source=SQL1001.site4now.net;Initial Catalog=db_ab634e_profilemanagement;Persist Security Info=True;User ID=db_ab634e_profilemanagement_admin;Password=Phong@123;Trust Server Certificate=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Profile_Management.Models.ApplicationDbContext, Profile_Management" MigrationConfiguration="Profile_Management.Migrations.Configuration, Profile_Management" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=SQL1001.site4now.net;Initial Catalog=db_ab634e_profilemanagement;Persist Security Info=True;User ID=db_ab634e_profilemanagement_admin;Password=Phong@123;Trust Server Certificate=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>